table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border: none; /* Loại bỏ viền bảng */
}
h1{
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
th, td {
    padding: 10px;
    text-align: left;
    border: none; /* Loại bỏ viền ô */
}

thead {
    background-color: #f5f5f5;
    font-weight: bold;
}

.product-info {
    display: flex;
    align-items: center;
}

.product-image {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 8px; /* Làm mềm góc ảnh */
}

.product-name {
    font-weight: bold;
    display: block;
}

.seller-info {
    font-size: 12px;
    color: #666;
}

.product-description {
    color: #666;
    font-size: 14px;
}
.product-time{
    color: #666;
    font-size: 14px;
}

.price-text {
    color: #666;
    font-weight: bold;
}

.options-menu {
    display: none;
    position: absolute;
    background-color: #c28f6e;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    right: 10px;
}

.options-menu .option-item {
    padding: 5px 10px;
    cursor: pointer;
}

.options-menu .option-item:hover {
    background-color: #a87252;
    color: white;
}
        /* CSS cho modal */
        .modal {
            display: none; /* Ẩn modal ban đầu */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Lớp nền mờ */
            z-index: 1000;
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
            width: 300px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .modal-content p {
            margin: 0 0 20px;
            font-size: 16px;
        }

        .modal-buttons {
            display: flex;
            justify-content: space-around;
        }

        .modal-buttons button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
        }

        .modal-buttons .ok-btn {
            background-color: #4CAF50;
            color: white;
        }

        .modal-buttons .ok-btn:hover {
            background-color: #45a049;
        }

        .modal-buttons .cancel-btn {
            background-color: #f44336;
            color: white;
        }

        .modal-buttons .cancel-btn:hover {
            background-color: #da190b;
        }
