<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Footer Section</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/footer.module.css" />
  </head>
  <body>
    <footer>
      <div class="container">
        <div class="info">
          <p>
            We specialize in delivery and supply of organic food products,
            produced by local farmers.
          </p>
          <div class="contact">
            <i class="fas fa-phone-alt" aria-hidden="true"></i>
            <span> NEED HELP (1800 123 4567) </span>
          </div>
          <div class="social-icons">
            <a href="#">
              <i class="fab fa-facebook-f" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fab fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fab fa-youtube" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fab fa-whatsapp" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fab fa-pinterest" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="links">
          <div>
            <h3>INFORMATION</h3>
            <ul>
              <li>
                <a href="#"> Delivery </a>
              </li>
              <li>
                <a href="#"> About us </a>
              </li>
              <li>
                <a href="#"> Secure payment </a>
              </li>
              <li>
                <a href="#"> Contact us </a>
              </li>
              <li>
                <a href="#"> Sitemap </a>
              </li>
              <li>
                <a href="#"> Stores </a>
              </li>
            </ul>
          </div>
          <div>
            <h3>CUSTOM LINKS</h3>
            <ul>
              <li>
                <a href="#"> Legal Notice </a>
              </li>
              <li>
                <a href="#"> Prices drop </a>
              </li>
              <li>
                <a href="#"> New products </a>
              </li>
              <li>
                <a href="#"> Best sales </a>
              </li>
              <li>
                <a href="#"> My account </a>
              </li>
              <li>
                <a href="#"> Terms and conditions </a>
              </li>
            </ul>
          </div>
          <div class="app-links">
            <img
              alt="Download on the App Store"
              height="50"
              src="/img/chplay.png"
              width="150"
            />
            <img
              alt="Android App on Google Play"
              height="50"
              src="/img/appstore.png"
              width="150"
            />
          </div>
        </div>
      </div>
      <div class="bottom-bar">
        <div class="links">
          <a href="#"> Online Shopping </a>
          |
          <a href="#"> Promotions </a>
          |
          <a href="#"> Help </a>
          |
          <a href="#"> Customer Service </a>
          |
          <a href="#"> Support </a>
          |
          <a href="#"> Most Populars </a>
          |
          <a href="#"> Manufacturers </a>
          |
          <a href="#"> Shipping </a>
          |
          <a href="#"> Payments </a>
          |
          <a href="#"> Refunds </a>
          |
          <a href="#"> Discount </a>
          |
          <a href="#"> Policy </a>
        </div>
        <div class="payment-icons">
          <img
            alt="Skrill"
            height="30"
            src="https://cms.worldpokerdeals.com/assets/6ac692aa-ba90-4e3d-9905-f5d780b7b017?format=webp&quality=75"
            width="50"
          />
          <img
            alt="Discover"
            height="30"
            src="https://play-lh.googleusercontent.com/EbIw2XpbAvJtjWytHK5SMtUXvu0ASUyAc7jbsi1GfqlX8qbXaZF8F_NqWHdcG0Pgpys"
            width="50"
          />
          <img
            alt="American Express"
            height="30"
            src="https://upload.wikimedia.org/wikipedia/commons/f/fa/American_Express_logo_%282018%29.svg"
            width="50"
          />
          <img
            alt="PayPal"
            height="30"
            src="https://rgb.vn/wp-content/uploads/2014/05/rgb_vn_new_branding_paypal_2014_logo_detail.png"
            width="50"
          />
          <img
            alt="Visa"
            height="30"
            src="https://www.visa.com/images/merchantoffers/2022-02/1645516054957.logo-visa-400x300.jpg"
            width="50"
          />
        </div>
        <p>Copyright © Pousthemes. All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>